<div class="container">
  <h1 class="text-center pt-3">お問い合わせありがとうございます</h1>
  <p class="text-center pt-4">ご記入していただいた情報を無事無事に送信されました。</p>
  <p class="text-center">確認のため、お客様に自動返信メールをお送りしております。</p>
  <p class="text-center"><%= link_to "トップページに戻る", root_path, class:"btn btn-outline-primary" %></p>
</div>
