<div class="container">
  <h1 class="text-center"><i class="far fa-handshake faa-float animated"></i></h1>
  <%= render partial: 'layouts/flash' %>
</div>
<div class="container bg-light">
  <div class="wrapper p-5">
    <div class="main-message">
        <div class="px-2 scroll" id ="message-index">
          <%= render 'public/rooms/index', messages: @messages %>
        </div>
        <div id="message">
          <%= render 'public/rooms/form', message: @message, room: @room %>
        </div>
  </div>
</div>

<script>
  const $scrollAuto = $('.scroll');
  $scrollAuto.animate({scrollTop: ($scrollAuto[0].scrollHeight + 400)}, 'fast')
</script>

