<div class="container">
  <h1 class="border-top border-primary pt-5"><strong>台湾留学を<br>
  より豊かにより有意義にしてもらいたい</strong></h1>
</div>
<div class="main p-5">
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
           <h1 class="text-center" style="color: #1565C0;"><strong>1</strong></h1>
          <h5 class="card-title bg-primary text-center" style="color: #fff;">台湾生活をたくさん共有しよう</h5>
          <p class="card-text text-center">アルバイトや日頃の生活を投稿しましょう</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h1 class="text-center" style="color: #1565C0;"><strong>2</strong></h1>
          <h5 class="card-title bg-primary text-center" style="color: #fff;">コミュニティーを広げよう</h5>
          <p class="card-text text-center">地域やタグを使って同じ志を持った人を探し、連絡を取って仲良くなりましょう</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h1 class="text-center" style="color: #1565C0;"><strong>3</strong></h1>
          <h5 class="card-title bg-primary text-center" style="color: #fff;">積極的に投稿・質問しよう</h5>
          <p class="card-text text-center">留学の４年間はあっという間に過ぎていきます。後悔しないためにも情報交換を積極的に行い、有意義に過ごしましょう。</p>
        </div>
      </div>
    </div>
  </div>
</div>