<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>ジャンル編集</h1>
      <%= form_with model:@genre, url: admin_genre_path, local:true do |f| %>
      <div class="form-group">
        <label for="inputTitle">ジャンル</label>
        <%= f.text_field :title, autofocus: true, placeholder:"ジャンル", class:"form-control" %>
      </div>
      
      <div class="form-group">
        <label for="inputImage">画像</label>
        	<%= f.file_field :image, class:"form-control form-control-lg" %>
        </div>
        
      <p><%= f.submit "編集完了", class:"btn btn-outline-success" %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>