<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">会員ID</th>
      <th scope="col">氏名</th>
      <th scope="col">フォロワー</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <th><%= user.id %></th>
      <td><%= user.name %></td>
      <td><%= user.followers.count %></td>
      <td><% if user.is_deleted == true %>
          <p class="text-muted">退会</p>
          <% elsif user.is_deleted == false %>
          <p class="text-success">有効</p>
          <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

