<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
<%= render  notifications %>
<%= paginate @notifications %>
<% else %>
<h1>通知はありません</h1>
<% end %>