<div class="container">
  <h1>ほんとに退会しますか？</h1>
  <h3>退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。</br>
  退会する場合は、「退会する」をクリックしてください。
  </h3>
  <%= link_to "退会する", withdraw_user_path, method: :patch, class: "btn btn-danger btn-lg mr-1" %>
  <%= link_to "退会しない", root_path, class: "btn btn-primary btn-lg mr-1" %>
</div>